

input {
	font-family : "Lucida Console", Monaco, monospace; 
	font-size: 25px;
	background-color: 'white';
	height: 40px;
	clear: both;
	position: relative;
	width: 222px;
	margin-top: 7px;
	margin-right: 500px; 
	padding-left: 20px;
}

